@charset "UTF-8";

/* base */
#subContents{ width: 100%; overflow: hidden; padding: 100px 0; }
#subContents .joinBox{
    position: relative; 
    width: 800px; overflow: hidden; 
    margin: 0 auto; padding: 50px; box-sizing: border-box;
    border: 2px solid #246b47; box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}
.joinBox div{ float: left; width: 100%; margin-bottom: 20px;}
.joinBox div label, #birth{ /*!!*/
    float: left;
    width: 90px; line-height: 50px;
    padding-right: 25px; font-size: 20px; color: #999; 
}
.joinBox div input{ 
    float: left;
    height: 50px; padding-left: 30px; 
    border: 1px solid #ccc; box-sizing: border-box;
    background-color: #fff; border-radius: 5px; 
}
.joinBox div input::placeholder{ color: #ccc; }
.joinBox div button{ 
    float: left; 
    width: 130px; height: 50px; margin-left: 10px; 
    border-radius: 5px; background-color: #246b47; 
    color: #fff; letter-spacing: 1px;
}
.joinBox p{ 
    float: left; 
    width: 100%; height: 20px; 
    padding-left: 120px; padding-top: 10px; box-sizing: border-box; 
    color: #999; line-height: 20px; 
}
.joinBox .red{ 
    display: none; 
    height: 50px; line-height: 50px; 
    color: #6b2424; font-size: 12px; 
}

/* input */
#name{ width: 210px; }
#id{ width: 210px; }
#address{ width: 430px; margin-bottom: 10px;  }
#pw, #pwChk, #address01, #address02{ width: 210px; margin-right: 10px;  }
#address02{ width: 280px; margin-top: 10px; }
#address01{ width: 280px; margin-left: 115px; margin-top: 10px; }
#tel{ width: 225px; }

/* birth */
.birthWrap{ width: 100%; }
.birthWrap .box02{
    width: 105px; height: 50px; 
    margin-right: 15px; padding: 0 10px; box-sizing: border-box; 
    color: #999; border: 1px solid #ccc; border-radius: 5px; 
}
.birthWrap .box02 + label{
    position: relative; left: -10px; 
    float: none; width: 0; 
    margin-right: 10px; padding: 0;
    font-size: 16px; color: #999; 
}

/* address */
#layer{ display:none; position:fixed; overflow:hidden; z-index:1; -webkit-overflow-scrolling:touch; }
#btnCloseLayer{ cursor:pointer; position:absolute; right:-3px; top:-3px; z-index:1; }

/* submit */
#submit, #submit_btn{ 
    position: absolute; bottom: 0; right: 0; left: 0; margin: 0 auto; 
    width: 390px; height: 80px; 
    border-radius: 10px 10px 0 0;
    background-color: #246b47; color: #fff; font-size: 20px; 
    font-weight: 500;
    letter-spacing: 3px; text-align: center; 
}

/* checkBox */
.allChk{ width: 100%; padding-top: 25px; padding-left: 55px; margin-bottom: 10px;  }
.allChk label{ 
    text-align: center; margin-left: 10px; 
    color: #246b47; font-weight: 600; font-size: 20px; 
}
.checkBox{ width: 100%; padding: 0 55px 70px; box-sizing: border-box;  }
.checkBox label{  
    width: 100%; margin-left: 5px; margin-right: 10px; 
    text-align: center; 
}
.checkBox a{ font-size: 14px; color: #999; }
.checkBox a:hover{ color: #246b47; text-decoration: underline; }